@font-face {
  font-family: "Beaufort Regular";
  src: url("fonts/Beaufort-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Beaufort Bold";
  src: url("fonts/Beaufort-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Spiegel Regular";
  src: url("fonts/Spiegel-Regular.woff2") format("woff2");
}

a {
  text-decoration: none;
}

body,
h1,
input[type="checkbox"] {
  margin: 0;
}

.page {
  display: flex;
  min-height: 100vh;
}

/* Login screen */

.login-screen {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

/* Position relative is needed to make sure video width doesn't overflow the box */

@media (min-width: 992px) {
  .login-screen {
    display: flex;
    flex-grow: 1;
    position: relative;
  }
}

/* Z-index is needed to put login screen behind everything else */

/* Object-fit: fill is needed to make sure the login screen fills the box */

.video {
  height: 100%;
  width: 100%;
  object-fit: fill;
  position: absolute;
  z-index: -1;
}

.login-screen footer .footer-content {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-bottom: 40px;
  align-items: center;
}

/* Riot games logo */

.company-logo {
  height: 48px;
}

/* Vertical line between riot logo and controns */

.divider {
  width: 1px;
  height: 64px;
  /* Fade out effect */
  background: radial-gradient(ellipse, #785a28 0%, rgba(255, 255, 255, 0) 100%);
  margin-left: 40px;
  margin-right: 1rem;
}

/* Disable animations and music checkboxes */

.controls-content {
  font: 1rem/1.4 Spiegel Regular;
  color: #c4b998;
}

/* Main */

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: #010a13;
}

/* Main should have flex-grow now but min-width is desirable */

/* Min width takes border-left into account */

@media (min-width: 992px) {
  .main {
    border-left: 1px solid #1e282d;
    flex-grow: 0;
    min-width: 279px;
  }
}

/* Max width is needed because without it main-content would be too big */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 279px;
}

/* Header */

.main header .header-content {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}

/* League of Legends logo */

.game-logo {
  margin: 0 auto;
  margin-top: 2.2rem;
  margin-bottom: 1.2rem;
  height: 64px;
}

/* Sign in heading */

.header-content h1 {
  color: #f0e6d2;
  margin-bottom: 2rem;
  font: 1.1rem/1.4 Beaufort Bold;
  text-transform: uppercase;
}

/* Header labels */

.header-content label {
  margin-bottom: 0.2rem;
  font: 1rem/1.4 Spiegel Regular;
  color: #a09b8c;
}

/* Input text and password */

.header-content input[type="text"],
input[type="password"] {
  border: 1px solid #785a28;
  background-color: #000306;
  height: 36px;
  margin-bottom: 0.6rem;
  font: 1rem/1 Spiegel Regular;
  color: #f0e6d2;
  text-indent: 0.5rem;
  padding: 0;
  outline: 0;
}

/* Input text and password focus */

.header-content input[type="text"]:focus,
input[type="password"]:focus {
  /* Top right and left bottom */
  border-color: #795b52 #aa8c53 #c7a965;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}

/* Input password */

.header-content input[type="password"] {
  letter-spacing: 4px;
  font: 1rem/1.4 Spiegel Regular;
  margin-bottom: 1rem;
}

/* Remember me checkbox */

.header-content .checkbox {
  margin-bottom: 2.5rem;
}

/* Region/lang button */

.header-content button {
  background-color: transparent;
  color: #c9aa71;
  border: 0;
  outline: 0;
  padding: 0;
  text-align: left;
  font: 1rem/1.4 Spiegel Regular;
  cursor: pointer;
}

.header-content button:hover {
  color: #f1e6d0;
}

/* Footer */

.main footer .footer-content {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}

/* Sign in button */

.footer-content button {
  background-color: #1e2328;
  border: 2px solid #5c5b57;
  outline: 0;
  padding: 0;
  height: 40px;
  margin-bottom: 3.5rem;
  color: #5c5b57;
  font: 1.1rem/1.2 Beaufort Bold;
  text-transform: uppercase;
  box-shadow: inset 0 0 4px #000;
  transition: background-color 2s ease;
}

/* Sign in button when active */

.footer-content .active {
  /* Top right and left bottom */
  border-color: #08bfb6 #0496aa #005c83;
  background-color: #10161e;
  color: #b2d9db;
  cursor: pointer;
}

/* Footer links */

.footer-content a {
  color: #0596aa;
  font: 1rem/1.4 Spiegel Regular;
}

.footer-content a:hover {
  color: #5cb2b1;
}

/* Version container, no padding */

.version-content {
  height: 40px;
  border-top: 1px solid #1e282d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.version-content span {
  color: #5c5b57;
  font: 1rem/1 Beaufort Bold;
}
