.header {
  padding-top: 3em;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.logo {
  color: rgb(0, 0, 0);
}

.text {
  text-transform: uppercase;
  line-height: 1;
}

.link {
  margin-left: 2em;
  color: rgb(83, 98, 124);
  font-size: 1rem;
  transition: color 200ms ease-in-out 0s;
}

.link:hover {
  color: rgb(0, 12, 32);
}
