.wrapper {
  margin-bottom: 10em;
}

.title {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.25;
  margin-bottom: 3em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
